<?php

return array(
    'maintenance' => array(
        /**
         * Set to true, to manually define the Website is under maintenance
         *
         * @var bool
         */
        'manuelMaintenance' => false,

        /**
         * An Array of Closures and/or MaintenanceProviderIntace which check different sources,
         * to determine if the System ist under maintenance.
         *
         * @var Closure|\Maintenance\Provider\MaintenanceProviderInterface
         */
        'provider' => array(),

        /**
         * Route or file to redirect the user to an Error page
         *
         * @var string
         */
        'redirect' => 'offline.html',

        /**
         * What type of redirect?
         *
         * @var string
         */
        'redirectType' => 'file',

        /**
         * Configuration for TimeSpanProvider
         *
         * @var array
         */
        'timeSpan' => array(
            /**
             * Defines the begin of the daley maintenance
             *
             * @var Int
             */
            'start' => 23,

            /**
             * Defines the end of the daley maintenance
             *
             * @var Int
             */
            'end' => 5.
        ),
    ),
);